.good-switch {
  background: none;
  border: 0 none;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-family: inherit;
  cursor: pointer;
}

.good-switch:focus {
  outline: none;
}

.good-switch--icon {
  font-size: 3rem;
  padding-right: .6rem;
  transition: transform .2s;
}

.good-switch:hover .good-switch--icon {
  transform: scale(1.1);
}

.good-switch:active .good-switch--icon {
  transform: scale(.9);
}
